@charset "UTF-8";

.top {
  background-image: url("../img/t-com.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.mes {
  background-color: #f7f5f4;
}

.mes-wrap__ttl {
  margin-bottom: 4%;
}

.mes-wrap__body__ceo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3%;
}

.mes-wrap__body__ceo__left {
  width: 35%;
}

.mes-wrap__body__ceo__left__ttl {
  font-weight: 700;
  font-size: 2rem;
  color: #2e2e2e;
  margin-bottom: 4%;
}

.mes-wrap__body__ceo__left__name {
  font-weight: 700;
  font-size: 1.6rem;
  color: #2e2e2e;
}

.mes-wrap__body__ceo__left__name span {
  font-size: 1.15rem;
  margin-right: 3.5%;
}

.mes-wrap__body__ceo__right {
  width: 63.5%;
  aspect-ratio: 3 / 2;
}

.mes-wrap__body__ceo__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overview-wrap.__inner {
  padding-bottom: 0;
}

.overview-wrap__ttl {
  margin-bottom: 4%;
}

.overview-wrap__body dl dt {
  width: 35%;
  font-weight: 700;
  font-size: 1.2rem;
  color: #2e2e2e;
}

.overview-wrap__body dl dd {
  width: 64%;
  font-size: 1.1rem;
}

.access-wrap__ttl {
  margin-bottom: 4%;
}

.access-wrap__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.access-wrap__body__add {
  width: 25%;
}

.access-wrap__body__add__ttl {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2.5%;
}

.access-wrap__body__add__txt {
  font-size: 1.1rem;
  line-height: 1.6;
}

.access-wrap__body__map {
  width: 75%;
  height: 500px;
}

.access-wrap__body__map iframe {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1024px) {
  .__tab {
    display: none;
  }

  .mes-wrap__body__ceo__left {
    width: 50%;
  }

  .mes-wrap__body__ceo__left__ttl {
    font-size: 1.7rem;
  }

  .mes-wrap__body__ceo__right {
    width: 48%;
  }

  .access-wrap__body__map {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {

  .mes-wrap__body__ceo {
    flex-direction: column-reverse;
  }

  .mes-wrap__body__ceo__left {
    width: 100%;
    margin-top: 3%;
  }

  .mes-wrap__body__ceo__left__ttl {
    font-size: 1.35rem;
  }

  .mes-wrap__body__ceo__left__name {
    text-align: right;
    font-size: 1.25rem;
  }

  .mes-wrap__body__ceo__left__name span {
    font-size: 1.1rem;
  }

  .mes-wrap__body__ceo__right {
    width: 100%;
  }

  .access-wrap__body {
    display: block;
  }

  .access-wrap__body__add {
    width: 100%;
    margin-bottom: 3%;
  }

  .access-wrap__body__add__ttl {
    margin-bottom: 1%;
  }

  .access-wrap__body__map {
    width: 100%;
    height: 250px;
  }
}