@charset "UTF-8";

.top {
  background-image: url("../img/c-fv-bg.jpg");
  background-size: cover;
  background-position: center 40%;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.con_lead-wrap.__inner {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.tab-wrap__nav__list {
  display: flex;
  justify-content: space-between;
}

.tab-wrap__nav__list__item {
  width: 47%;
  border: solid 1px #a43434;
  text-align: center;
}

.tab-wrap__nav__list__item a {
  display: block;
  color: #a43434;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 2%;
}

.tab-wrap__nav__list__item a:hover {
  opacity: 1;
  background-color: #a43434;
  color: #fff;
  font-weight: 700;
}

.form-wrap.__inner {
  padding-top: 0;
}

.form-wrap__ttl {
  text-align: center;
  background-color: #f7f5f4;
  padding: 1%;
}

.form-wrap__ttl h2 {
  color: #2e2e2e;
  font-weight: 700;
  font-size: 2rem;
}

.form-wrap__con {
  margin-top: 4%;
}

.form-wrap__con__form__block {
  display: flex;
  align-items: center;
  margin-bottom: 4.5%;
}

.form-wrap__con__form__block.__area {
  align-items: flex-start;
}

.form-wrap__con__form__block__ttl {
  width: 30%;
  margin-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrap__con__form__block__ttl p {
  font-size: 1.15rem;
  font-weight: 700;
  color: #2e2e2e;
}

.form-wrap__con__form__block__ttl span {
  background-color: #a43434;
  color: #fff;
  padding: 0.2% 2.5%;
}

.form-wrap__con__form__block__input {
  display: flex;
  width: 62%;
}

.form-wrap__con__form__block__input__radio {
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.form-wrap__con__form__block__input__text {
  width: 100%;
}

.form-wrap__con__form__block__input__text input {
  width: 100%;
  padding: 2.5% 0;
  font-size: 1rem;
  padding-left: 5px;
}

.form-wrap__con__form__block__area {
  width: 62%;
}

.form-wrap__con__form__block__area textarea {
  height: 15rem;
  width: 100%;
  padding: 10px 5px;
  font-size: 1rem;
}

.form-wrap__con__form__btn {
  margin-top: 5.5%;
  display: flex;
  justify-content: center;
}

.form-wrap__con__form__btn button {
  color: #a43434;
  background-color: #fff;
  border: solid 1px #a43434;
  cursor: pointer;
  display: block;
  width: 17.5rem;
  height: 3.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0px 7px 10px rgb(0 0 0 / 25%);
  transition: all 0.3s;
}

.form-wrap__con__form__btn button:hover {
  transition: all 0.3s;
  transform: scale(0.98);
  background-color: #a43434;
  border: solid 1px #a43434;
  color: #fff;
  font-weight: 700;
}


@media screen and (max-width: 1024px) {
  .form-wrap__con__form__block {
    display: block;
  }

  .form-wrap__con__form__block__ttl {
    margin-bottom: 3%;
  }

  .form-wrap__con__form__block__input {
    width: 100%;
  }

  .form-wrap__con__form__block__area {
    width: 100%;
  }

  .form-wrap__con__form__btn {
    margin-top: 5%;
  }
}

@media screen and (max-width: 768px) {
  .form-wrap__ttl h2 {
    font-size: 1.55rem;
  }

  .form-wrap__con__form__block__ttl {
    justify-content: flex-start;
    width: 80%;
  }

  .form-wrap__con__form__block__ttl p {
    margin-right: 5%;
  }

  .form-wrap__con__form__block__input.__sp {
    display: block;
  }
}