@charset "UTF-8";

.top {
  background-image: url("../img/i-fv-bg.jpg");
  background-size: cover;
  background-position: top;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(2)::after {
  content: ">";
  margin: 0 8px;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(2) a {
  color: #000;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(3) a {
  color: #000;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(3)::after {
  content: ">";
  margin: 0 8px;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(4) a {
  color: #a43434;
}

.interview-wrap.__inner {
  padding-top: 0;
}

.interview-wrap__head {
  border-bottom: solid 1px #ccc;
  margin-bottom: 4%;
}

.interview-wrap__head__ttl {
  color: #2e2e2e;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 2%;
}

.interview-wrap__body {
  margin-top: 2%;
}

.interview-wrap__body__employee {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3%;
}

.interview-wrap__body__employee__img {
  width: 55%;
  aspect-ratio: 3 / 2;
}

.interview-wrap__body__employee__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interview-wrap__body__employee__name {
  width: 43%;
}

.interview-wrap__body__employee__name p {
  color: #2e2e2e;
  font-size: 1.5rem;
  font-weight: 700;
}

.interview-wrap__body__employee__name p span {
  display: block;
  font-weight: 400;
  font-size: 1.15rem;
}

.interview-wrap__body__qa {
  margin-top: 3%;
}

.interview-wrap__body__qa h3 {
  font-size: 1.35rem;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 0.5%;
}

.interview-wrap__body__img {
  aspect-ratio: 2.5 / 1;
  margin-top: 3%;
}

.interview-wrap__body__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.interview-wrap__body__btn {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

@media screen and (max-width: 1024px) {
  .interview-wrap__head__ttl {
    font-size: 1.6rem;
  }

  .interview-wrap__body__employee__name p {
    font-size: 1.35rem;
  }

  .interview-wrap__body__qa h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb-wrap__nav__list {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .breadcrumb-wrap__nav__list::-webkit-scrollbar {
    display: none;
  }

  .breadcrumb-wrap__nav__list__item:nth-of-type(2)::after {
    font-size: 0.7rem;
  }

  .breadcrumb-wrap__nav__list__item:nth-of-type(3)::after {
    font-size: 0.8rem;
  }

  .interview-wrap__head__ttl {
    font-size: 1.45rem;
  }

  .interview-wrap__body__employee {
    display: block;
  }

  .interview-wrap__body__employee__img {
    width: 100%;
    margin-bottom: 2%;
  }

  .interview-wrap__body__employee__name {
    width: 100%;
  }
}