@charset "UTF-8";

.top {
  background-image: url("../img/n-fv-bg.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(2)::after {
  content: ">";
  margin: 0 8px;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(2) a{
  color: #000;
}

.breadcrumb-wrap__nav__list__item:nth-of-type(3) a {
  color: #a43434;
}

.news_detail-wrap.__inner {
  padding-top: 0;
}

.news_detail-wrap__head {
  border-bottom: solid 1px #ccc;
  margin-bottom: 4%;
}

.news_detail-wrap__head__meta {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.news_detail-wrap__head__meta__date {
  font-size: 1.1rem;
  margin-right: 2.5%;
}

.news_detail-wrap__head__meta__cate {
  background-color: #bbb;
  color: #fff;
  padding: 0.3% 3%;
}

.news_detail-wrap__head__ttl {
  font-size: 1.75rem;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 2%;
}

.news_detail-wrap__body__img {
  aspect-ratio: 3 / 2;
  margin-bottom: 2%;
}

.news_detail-wrap__body__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_detail-wrap__body__txt {
  margin-bottom: 4%;
}

.news_detail-wrap__body__btn {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1024px) {
  .news_detail-wrap__head__ttl {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .news_detail-wrap__head__ttl {
    font-size: 1.45rem;
  }
}