@charset "UTF-8";

.top {
  background-image: url("../img/n-fv-bg.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.news-wrap.__inner {
  padding-top: 0;
}

.news-wrap__list__item a {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ccc;
  padding: 2%;
}

.news-wrap__list__item:nth-of-type(1) a {
  padding-top: 0;
}

.news-wrap__list__item__img {
  width: 40%;
  aspect-ratio: 3 / 2;
  margin-right: 3.5%;
}

.news-wrap__list__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-wrap__list__item__con {
  width: 56.5%;
}

.news-wrap__list__item__con__meta {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.news-wrap__list__item__con__meta__date {
  font-size: 1.1rem;
  margin-right: 2.5%;
}

.news-wrap__list__item__con__meta__cate {
  background-color: #bbb;
  color: #fff;
  padding: 0.3% 3%;
}

.news-wrap__list__item__con__ttl {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 3%;
}

.news-wrap__number {
  margin-top: 5.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-wrap__number__item {
  margin-right: 1%;
}

.news-wrap__number__item:nth-last-of-type(1) {
  margin-right: 0;
}

.news-wrap__number__item a {
  border: solid 1px #a43434;
  border-radius: 50%;
  color: #a43434;
  font-size: 1.1rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-wrap__number__item a:hover {
  color: #fff;
  background-color: #a43434;
  border: solid 1px #a43434;
  opacity: 1;
}


@media screen and (max-width: 1024px) {
  .news-wrap__list__item__con__ttl {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .news-wrap__list__item a {
    display: block;
    margin-top: 1%;
  }

  .news-wrap__list__item:nth-of-type(1) a {
    margin-top: 0;
  }

  .news-wrap__list__item__img {
    width: 100%;
  }

  .news-wrap__list__item__con {
    width: 100%;
    margin-top: 3%;
  }

  .news-wrap__number__item {
    margin-right: 1.5%;
  }

  .news-wrap__number__item:nth-last-of-type(1) {
    margin-right: 0;
  }

    .news-wrap__number__item a {
    width: 32px;
    height: 32px;
  }
}