@charset "UTF-8";

.top {
  background-image: url("../img/t-c-bg.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.number {
  background-color: #f7f5f4;
}

.number-wrap__ttl {
  margin-bottom: 4%;
}

.number-wrap__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.number-wrap__body__block {
  background-color: #fff;
  width: 32%;
  aspect-ratio: 1 / 1;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-wrap__body__block__icon {
  margin-bottom: 10%;
}

.number-wrap__body__block__icon span {
  font-size: 5.5rem;
  display: block;
}

.number-wrap__body__block__ttl {
  margin-bottom: 10%;
}

.number-wrap__body__block__ttl p {
  font-size: 1.5rem;
  font-weight: 700;
}

.number-wrap__body__block__txt {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.number-wrap__body__block__txt__number {
  text-align: center;
}

.number-wrap__body__block__txt__number p {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 700;
  color: #a43434;
}

.number-wrap__body__block__txt__number p .number-wrap__body__block__txt__number__label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10%;
  color: #000;
}

.number-wrap__body__block__txt__number__percent {
  font-size: 1.5rem;
  font-weight: 400;
}

.number-wrap__body__block__txt__number__day {
  font-size: 1.5rem;
  font-weight: 400;
}

.interview-wrap.__inner {
  padding-bottom: 0;
}

.interview-wrap__ttl {
  margin-bottom: 4%;
}

.interview-wrap__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.interview-wrap__body a {
  width: 48.5%;
}

.interview-wrap__body a:hover {
  opacity: 0.7;
}

.interview-wrap__body__block {
  background-color: #f7f5f4;
  padding: 2.5%;
  margin-bottom: 5%;
  box-shadow: 3px 5px 10px rgb(0 0 0 / 20%);
}

.interview-wrap__body__block__img {
  aspect-ratio: 16 / 9;
}

.interview-wrap__body__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interview-wrap__body__block__name {
  margin-top: 1.5%;
  line-height: 1.5;
}

.interview-wrap__body__block__name span {
  font-size: 1.1rem;
  display: block;
  font-weight: 400;
}

.interview-wrap__body__block__name p {
  font-size: 1.15rem;
  font-weight: 700;
  color: #2e2e2e;
}

.interview-wrap__body__block__txt {
  margin-top: 3%;
}

.interview-wrap__body__block__txt h3 {
  font-size: 1.4rem;
  color: #2e2e2e;
  margin-bottom: 0.5%;
}

.des-wrap.__inner {
  padding-bottom: 0;
}

.des-wrap__ttl {
  margin-bottom: 4%;
}

.des-wrap__body__ttl {
  background-color: #a43434;
  padding: 1.3%;
  text-align: center;
}

.des-wrap__body__ttl h3 {
  color: #fff;
  font-size: 1.5rem;
}

.des-wrap__body dl dt {
  width: 35%;
  font-weight: 700;
  font-size: 1.2rem;
  color: #2e2e2e;
}

.des-wrap__body dl dd {
  width: 64%;
  font-size: 1.1rem;
}

.des-wrap__body dl dd .head {
  font-size: 1.13rem;
  font-weight: 700;
  margin-top: 2.5%;
}

.flow-wrap__ttl {
  margin-bottom: 4%;
}

.flow-wrap__body__block {
  background-color: #f7f5f4;
  margin-bottom: 4%;
  padding: 1.75%;
  position: relative;
  text-align: center;
}

.flow-wrap__body__block::after {
  position: absolute;
  content: "";
  border-top: solid 30px #f7f5f4;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  transform: translateX(-50%) translateY(-50%);
  bottom: -37.5px;
}

.flow-wrap__body__block:nth-last-of-type(1) {
  margin-bottom: 0;
}

.flow-wrap__body__block p {
  color: #2e2e2e;
  font-weight: 700;
  font-size: 1.35rem;
}

.flow-wrap__body__block:last-child::after {
  display: none;
}


@media screen and (max-width: 1024px) {
  .number-wrap__body__block {
    padding: 2% 0;
  }

  .number-wrap__body__block__icon {
    margin-bottom: 3%;
  }

  .number-wrap__body__block__ttl {
    margin-bottom: 3%;
  }

  .number-wrap__body__block__txt__number p {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .number-wrap__body {
    display: block;
  }

  .number-wrap__body__block {
    width: 100%;
    aspect-ratio: auto;
    padding: 3.5% 0;
  }

  .number-wrap__body__block__icon {
    margin-bottom: 3%;
  }

  .number-wrap__body__block__ttl {
    margin-bottom: 3%;
  }

  .number-wrap__body__block__ttl p {
    font-size: 1.3rem;
  }

  .number-wrap__body__block__txt {
    width: 60%;
  }

  .interview-wrap__body {
    display: block;
  }

  .interview-wrap__body__block__txt h3 {
    font-size: 1.3rem;
  }

  .des-wrap__body__ttl h3 {
    font-size: 1.3rem;
  }

  .flow-wrap__body__block {
    margin-bottom: 8%;
  }

  .flow-wrap__body__block::after {
    bottom: -32.5px;
  }
}