@charset "UTF-8";

.top {
  background-image: url("../img/s-fv-bg.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: 0;
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.overview {
  background-color: #f7f5f4;
}

.overview-wrap__ttl {
  margin-bottom: 4%;
}

.overview-wrap__txt {
  text-align: center;
}

.strengths-wrap.__inner {
  padding-bottom: 0;
}

.strengths-wrap__ttl {
  margin-bottom: 4%;
}

.strengths-wrap__body__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}

.strengths-wrap__body__block:nth-last-of-type(1) {
  margin-bottom: 0;
}

.strengths-wrap__body__block:nth-of-type(2) {
  flex-direction: row-reverse;
}

.strengths-wrap__body__block__img {
  width: 45%;
  aspect-ratio: 3 / 2;
}

.strengths-wrap__body__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.strengths-wrap__body__block__con {
  width: 50%;
}

.strengths-wrap__body__block__con__head {
  display: flex;
  align-items: center;
}

.strengths-wrap__body__block__con__head__label {
  aspect-ratio: 1 / 1;
  width: 65px;
  height: 65px;
  border: solid 1px #a43434;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.strengths-wrap__body__block__con__head__label span {
  display: block;
  color: #a43434;
  font-size: 0.85rem;
}

.strengths-wrap__body__block__con__head__label p {
  color: #a43434;
  font-size: 1.25rem;
  line-height: 1;
}

.strengths-wrap__body__block__con__head__ttl {
  font-size: 1.5rem;
  color: #2e2e2e;
  margin-left: 2.5%;
}

.strengths-wrap__body__block__con__txt {
  margin-top: 3%;
}

.brand-wrap__ttl {
  margin-bottom: 4%;
}

.brand-wrap__body__block {
  display: flex;
  justify-content: space-between;
}

.brand-wrap__body__block__img {
  width: 24%;
  aspect-ratio: 2 / 3;
}

.brand-wrap__body__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-wrap__body__con {
  margin-top: 2%;
}

.brand-wrap__body__con__brand {
  margin-bottom: 0.5%;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 1.75rem;
}


@media screen and (max-width: 1024px) {
  .strengths-wrap__body__block {
    display: block;
  }

  .strengths-wrap__body__block__img {
    width: 100%;
  }

  .strengths-wrap__body__block__con {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  .strengths-wrap__body__block__con:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .brand-wrap__body__block__img {
    width: 32%;
  }

  .brand-wrap__body__block__img.__4 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .strengths-wrap__body__block__con__head__label {
    width: 60px;
    height: 60px;
  }

  .strengths-wrap__body__block__con__head__ttl {
    font-size: 1.25rem;
    width: 80%;
  }

  .brand-wrap__body__con__brand {
    font-size: 1.25rem;
  }

  .brand-wrap__body__block__img {
    width: 47.5%;
  }

  .brand-wrap__body__block__img.__3 {
    display: none;
  }
}